# basic auth
export USERNAME=john
export PASSWORD=CHANGE-ME
# letsencrypt settings
export EMAIL=foo.bar@example.org
export DOMAIN=yourbasedomain.com
# deployment target SSH
export SSH_SERVER=foo@yourbasedomain.com
